version: 2
updates:

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"

  # Maintain dependencies for Composer
  - package-ecosystem: "gomod"
    directory: "/go"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"

  # Maintain dependencies for Composer
  - package-ecosystem: "cargo"
    directory: "/rust"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
